<div class="container">
  <form>
    <div class="tasks-main" style="height:189px">
    
      <ul class="table-header table-inputs">
        <li>Task</li>
        <li>hours Worked</li>
        <li>hours Worked</li>
        <li>hours Worked</li>
        <li>hours Worked</li>
        <li>hours Worked</li>
        <li>hours Worked</li>
        <li>hours Worked</li>
      </ul>
      <div class="input-div" *ngFor="let index of incriment">
        <input type="text" placeholder="Enter Task" class="table-input-box" >
        <input type="number" placeholder="Enter Hours" class="table-input-box" >
        <input type="number" placeholder="Enter Hours" class="table-input-box" >
        <input type="number" placeholder="Enter Hours" class="table-input-box" >
        <input type="number" placeholder="Enter Hours" class="table-input-box" >
        <input type="number" placeholder="Enter Hours" class="table-input-box" >
        <input type="number" placeholder="Enter Hours" class="table-input-box" >
        <input type="number" placeholder="Enter Hours" class="table-input-box" >
        {{taskHours.task[index]}}
      </div>
    </div>
   
    <button (click)="addRow()">Add Task</button>
    <button (click)="removeRow()">Remove A Task</button>
    <button type="submit">Save</button>
  </form>
  
</div>